<div style="justify-content:center;display:flex;width: 100%">
    <div style="width:100%;;background:white;padding:20px;border-radius:5px">
        <p>{{formIsValid ? 'Valid form' : 'Form is invalid'}}</p>
        <mainio-form-dynamic-store-form [formId]="idToPass" [questions]="questionsToPass" [values]="values$ | async"
            mapValuesTo="ExampleModel"></mainio-form-dynamic-store-form>
    </div>


</div>
<div style="display:flex">
    <button mat-button (click)="save()" [disabled]="formIsValid">Save</button>
    <button mat-button (click)="reset()" [disabled]="!hasSavedValues">Clear to save values</button>
    <button mat-button (click)="clear()">Clear all values</button>
</div>
<div style="display:flex">
    <p>Last saved values : {{savedValues | json}}</p>
</div>
<div style="display:flex">
    <p>Mapped model from current values: {{(mappedModel$ | async) | json}}</p>
</div>