<div style="min-height: 100vh;display: flex;flex-direction: column;justify-content: space-between">
  <div style="display: flex;flex-direction: column;">
    <div style="position:relative;padding:20px;background-size: cover;min-height: 200px;">


      <div style="position:absolute;height:100%;width: 100%;left:0;top:0;background-color: rgba(51, 0, 114,0.5);display:flex;justify-content: end;flex-direction: column">
        <h1 class="mat-display-1" style="color:white;padding:20px;margin:0;margin-top:20px;z-index:2">Mainio Forms
        </h1>
        <h2 style="color:white;padding:20px 50;margin:0 0 20px 20px;z-index:2">Angular 6 Forms made simple
        </h2>
      </div>
    </div>
    <div style="display:flex;flex-direction: row;flex-wrap: wrap;margin-top:20px">
      <div style="width:400px;margin:0 auto;flex-grow: 1;padding:40px">
        <mainio-form-basic *ngIf="!index"></mainio-form-basic>
        <mainio-form-chat *ngIf="index === 3"></mainio-form-chat>
        <mainio-form-store *ngIf="index === 1"></mainio-form-store>
        <mainio-form-split-store *ngIf="index === 2"></mainio-form-split-store>
        <mainio-form-json *ngIf="index === 4"></mainio-form-json>

      </div>
      <mat-card class="example-card">
        <mat-card-header>
          <mat-tab-group (selectedTabChange)="navigate($event)" class="example-card" style="padding: 0 20px 20px 20px" [selectedIndex]="index">
            <mat-tab label="Basic"></mat-tab>
            <mat-tab label="Store"> </mat-tab>
            <mat-tab label="Splitted Store"></mat-tab>
            <mat-tab label="Chat send"></mat-tab>
            <mat-tab label="JSON creator"></mat-tab>
          </mat-tab-group>
        </mat-card-header>
        <mat-card-content>
          <router-outlet></router-outlet>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
  <div style="margin-top:20px;min-height:200px;justify-self: flex-end">
    <div style="display:flex;flex-grow: 1;justify-content: flex-end;padding: 0 20px">
      <img width="200" alt="Angular Logo" src="./assets/mainio-co-footer-element.png">
    </div>
    <div style="min-height:200px;background:#00263e"></div>
  </div>
</div>