<div style="justify-content:start;display:flex;width: 100%">
  <div style="max-width: 300px;background:grey;margin-right: 10px">
    <mainio-form-dynamic-store-form [id]="idToPass" [questions]="questionsToPass" limitToGroup="secondary"></mainio-form-dynamic-store-form>
  </div>
  <div style="background:white;padding:20px;border-radius:5px;flex-grow: 1">
    <mainio-form-dynamic-store-form [id]="idToPass" [questions]="questionsToPass" limitToGroup="main"></mainio-form-dynamic-store-form>
  </div>
</div>
<div style="justify-content:start;display:flex;width: calc(100% - 40px);margin-top:20px;background:white;padding:20px;border-radius:5px;flex-grow: 1">
  <div style="width:100% ">
    <mainio-form-dynamic-store-form [id]="idToPass2 " [questions]="questionsToPass2 "></mainio-form-dynamic-store-form>
  </div>
</div>