<div class="container">
  <div class="ingress">
    <h1>Dynamic forms from SaaS developers to you</h1>
    <p>
      Ever felt like you need a dynamic creation for your forms in Angular
      projects but still wish the forms to be reactive? Mainio Dynamic Forms is
      a way to achieve this.
    </p>
  </div>
</div>
<div class="primary-section">
  <div class="container">
    <h2 class="row">Features</h2>
    <div class="row">
      <mainio-form-feature
        [icon]="['fab', 'angular']"
        title="Angular"
        url="./documentation/platforms?p=intro"
        class="col-4"
      >
        <p>Built for Angular 6, ready to be used instantly</p>
      </mainio-form-feature>
      <mainio-form-feature
        [icon]="['fas', 'archway']"
        title="Easy"
        url="./documentation/getting-started"
        class="col-4"
      >
        <p>It takes less code to make reactive forms now</p>
      </mainio-form-feature>
      <mainio-form-feature
        [icon]="['fas', 'bezier-curve']"
        title="Maintained"
        url="./documentation/about"
        class="col-4"
      >
        <p>Maintained by users who need this to SaaS development</p>
      </mainio-form-feature>
    </div>
    <!---
    <div class="row">
      <div>
        <div class="row icon">
          <div><fa-icon [icon]="['fab', 'angular']"></fa-icon></div>
        </div>
        <h3>Angular</h3>
        <p>Built for Angular 6, ready to be used instantly</p>
        <a mat-raised-button color="primary" href="./documentation/welcome"
          >Learn more</a
        >
      </div>
    </div>
    -->
  </div>
</div>
<div class="section">
  <div class="container">
    <h2 class="row">Less than 5 minutes to achieve results</h2>
    <p>
      We believe that reactive forms should be easy to use but still extendable
      when ever needed. For this reason we created Mainio Dynamic Forms to allow
      us to achieve this.
    </p>
    <p>
      As a side result we released the package as a open source to let you
      develop your own ideas easily.
    </p>
  </div>
</div>
<div class="section primary-section">
  <div class="container">
    <h2 class="row">Maintained regurally</h2>
    <p>
      Mainio SaaS was built using this package. As time goes on and more
      features are needed for the system, so does this package evolve.
    </p>
  </div>
</div>
<div class="section">
  <div class="container">
    <h2 class="row">Ready to start?</h2>
    <p>
      It's easy to get started, just go to
      <a href="https://www.npmjs.com/package/mainio-forms" target="_blank"
        >NPM</a
      >
      or to
      <a href="https://github.com/Mainioco/forms" target="_blank">Github</a>. Or
      if you wish, you can check out our
      <a href="./documentation/getting-started" target="_blank"
        >documentation as well</a
      >
    </p>
  </div>
</div>
