/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "primeng/resources/themes/nova-light/theme.css";
@import "primeng/resources/primeng.min.css";
@import "~bootstrap/scss/bootstrap-reboot";
@import "~bootstrap/scss/bootstrap-grid";
html,
body {
  padding: 0;
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.section {
  margin: 10px 0 10px 0;
}
p {
  font-size: 16px;
  line-height: 24px;
}
mainio-form-examples-container {
  width: 100%;
}

mainio-form-intro {
  width: calc(100% - 100px);
}

.ingress {
  text-align: center;
}

.primary-section {
  background: #00263e;
  color: white;
  padding: 40px;
}

.cta {
  margin: 10px;
}
